apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: {{ kafka_cluster_name }}
spec:
  kafka:
    version: {{ kafka_version }}
    listeners:
      - {name: plain, port: 9092, type: internal, tls: false}
      - {name: tls, port: 9093, type: internal, tls: true}
    config:
      default.replication.factor: 3
      min.insync.replicas: 2
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      auto.create.topics.enable: false
    metricsConfig:
      type: strimziMetricsReporter
      values:
        allowList:
          - "kafka_server.*"
          - "kafka_network.*"
          - "kafka_controller.*"
          - "kafka_log.*"
          - "kafka_cluster_partition.*"
  entityOperator:
    topicOperator:
      resources:
        requests: {cpu: 50m, memory: 192Mi}
        limits: {memory: 256Mi}
    userOperator:
      resources:
        requests: {cpu: 50m, memory: 192Mi}
        limits: {memory: 256Mi}
  kafkaExporter:
    topicRegex: ".*"
    groupRegex: ".*"
    resources:
      requests: {cpu: 20m, memory: 64Mi}
      limits: {memory: 128Mi}
