apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: dual-role
  labels:
    strimzi.io/cluster: {{ kafka_cluster_name }}
spec:
  replicas: {{ kafka_replicas }}
  roles: [controller, broker]
  resources: {{ kafka_resources | to_json }}
  jvmOptions:
    "-Xms": {{ kafka_heap }}
    "-Xmx": {{ kafka_heap }}
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: {{ kafka_storage_size }}
        class: {{ kafka_storage_class }}
        deleteClaim: false
        kraftMetadata: shared
  template:
    pod:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    strimzi.io/cluster: {{ kafka_cluster_name }}
                    strimzi.io/pool-name: dual-role
