{% for t in kafka_topics %}
---
apiVersion: kafka.strimzi.io/v1
kind: KafkaTopic
metadata:
  name: {{ t.name | replace('.', '-') }}
  labels:
    strimzi.io/cluster: {{ kafka_cluster_name }}
spec:
  topicName: {{ t.name }}
  partitions: {{ t.partitions }}
  replicas: {{ t.replicas | default(kafka_replication_factor) }}
  config:
    retention.ms: {{ t.retention_ms | default(kafka_topic_retention_ms) }}
    min.insync.replicas: {{ kafka_min_insync_replicas }}
{% endfor %}
