global
    log stdout format raw local0 info
    maxconn 20000
    stats socket /var/run/haproxy.sock mode 600 level admin

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 3s
    timeout client 60s
    timeout server 60s
    retries 2

frontend fe_http
    bind *:80
    default_backend be_gateway_nodes

backend be_gateway_nodes
    balance leastconn
    option tcp-check
    default-server inter 2s fall 3 rise 2 maxconn 5000
    server node1 192.168.58.2:30080 check

frontend stats
    mode http
    bind *:8404
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 5s
